/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("./fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("./fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/montserrat-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v20-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: block;
  text-decoration: none;
}

header {
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.sign_up {
  width: 90px;
  height: 36px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  line-height: 1.2;
  background-color: rgba(26, 25, 21, 0);
  outline: none;
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.sign_up:hover {
  border-color: rgba(255, 255, 255, 1);
  border-width: 2px;
  border-style: solid;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.log_in {
  width: 90px;
  height: 36px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  line-height: 1.2;
  background-color: rgba(26, 25, 21, 0);
  border-style: none;
  cursor: pointer;
  outline: none;
}

.log_in:hover {
  border-color: rgba(255, 255, 255, 1);
  border-width: 2px;
  border-style: solid;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.logo-link {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.central_name {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 1.2;
}

.central_text {
  font-size: 18px;
  font-family: "Roboto", serif;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.2;
  font-weight: 300;
}

.central_link {
  display: inline-block;
  height: 40px;
  width: 280px;
  background-color: rgba(255, 78, 80, 1);
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
}

.meeting-list {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: rgba(51, 51, 51, 1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.div__for__photo {
  display: block;
  margin: 0 auto;
  width: 121px;
  height: 121px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.div__for__photo::after {
  position: absolute;
  content: "";
  border: 4px solid #fff;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.photo1 {
  background-image: url(./image/team/11.png);
  background-repeat: no-repeat;
}

.photo1::after {
  background-color: rgba(255, 78, 80, 1);
  background-image: url(./image/1.png);
}

.photo2 {
  background-image: url(./image/team/22.png);
  background-repeat: no-repeat;
}

.photo2::after {
  background-color: rgba(255, 165, 7, 1);
  background-image: url(./image/2.png);
}

.photo3 {
  background-image: url(./image/team/33.png);
  background-repeat: no-repeat;
}

.photo3::after {
  background-color: rgba(28, 215, 173, 1);
  background-image: url(./image/3.png);
}

.photo4 {
  background-image: url(./image/team/44.png);
  background-repeat: no-repeat;
  background-position: center;
}

.photo4::after {
  background-color: rgba(78, 115, 219, 1);
  background-image: url(./image/4.png);
}

.name {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 12px;
}

.some-description {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Roboto", serif;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
  width: 222px;
  margin-bottom: 26px;
}

.last-button {
  display: block;
  margin: 0 auto;
  border-width: 2px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 78, 80, 1);
  font-weight: bold;
  line-height: 1.2;
  border-style: solid;
  border-color: rgba(255, 78, 80, 1);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  height: 40px;
}

header {
  background-image: url(./image/mobile/mobile.png);
  background-size: cover;
  height: 540px;
  text-align: center;
}

.navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 20px;
}

.buttons {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.logo-link {
  margin-top: 116px;
}

.central_name {
  margin-top: 30px;
}

.central_text {
  width: 280px;
  margin: 0 auto;
  margin-top: 14px;
}

.central_link {
  margin-top: 16px;
  width: 280px;
}

.meeting-list {
  margin-top: 66px;
}

.list {
  margin-top: 12px;
}

.last-button {
  width: 280px;
  margin-bottom: 56px;
}

@media (min-width: 768px) {
  .container {
    width: 660px;
    margin: 0 auto;
  }

  header {
    background-image: url(./image/tablet/tablet.png);
    height: 768px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 38px;
  }

  .buttons {
    margin-right: 0;
  }

  .logo-link {
    margin: 0 auto;
    margin-left: 0;
  }

  .central_name {
    font-size: 50px;
    padding-top: 160px;
    width: 494px;
    margin: 0 auto;
  }

  .central_text {
    width: 494px;
    font-size: 24px;
    margin-top: 30px;
  }

  .central_link {
    margin-top: 40px;
    width: 226px;
  }

  .meeting-list {
    margin-top: 70px;
  }

  .list {
    padding-top: 30px;
    width: 494px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .card:nth-child(n + 3) {
    padding-top: 30px;
  }

  .last-button {
    margin-bottom: 40px;
    margin-top: 10px;
  }
}

@media (min-width: 940px) {
  header {
    background-image: url(./image/desktop/desktop.png);
  }
  .container {
    width: 940px;
  }
  .list {
    width: 940px;
    justify-content: space-around;
    align-items: baseline;
  }
}
